<div class="main">
    <section id="contact">

        <h1 class="section-header">Contact</h1>

        <div class="contact-wrapper">

            <!-- Left contact page -->

            <form id="contact-form" class="form-horizontal" role="form">

                <div class="form-group">
                    <div class="col-sm-12">
                        <input type="text" class="form-control" id="name" placeholder="NAME" name="name" value="" required>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-sm-12">
                        <input type="email" class="form-control" id="email" placeholder="EMAIL" name="email" value="" required>
                    </div>
                </div>

                <textarea class="form-control" rows="10" placeholder="MESSAGE" name="message" required></textarea>

                <button class="btn btn-primary send-button" id="submit" type="submit">SEND</button>

            </form>

            <!-- Left contact page -->

            <div class="direct-contact-container">

                <ul class="contact-list">


                    <li class="list-item"><i class="bi bi-phone fa-2x"><span class="contact-text phone"><a href="tel:+564 7885 3222" title="Give me a call">+564 7885 3222</a></span></i></li>

                    <li class="list-item"><i class="bi bi-envelope fa-2x"><span class="contact-text gmail"><a href="mailto:#" title="Send me an email">Nermeen@gmail.com</a></span></i></li>

                </ul>

                <hr>
                <ul class="social-media-list">
                    <li>
                        <a href="#" target="_blank" class="contact-icon">
                            <i class="bi bi-github" aria-hidden="true"></i></a>
                    </li>
                    <li>
                        <a href="#" target="_blank" class="contact-icon">
                            <i class="bi bi-facebook" aria-hidden="true"></i></a>
                    </li>
                    <li>
                        <a href="#" target="_blank" class="contact-icon">
                            <i class="bi bi-twitter" aria-hidden="true"></i></a>
                    </li>
                    <li>
                        <a href="#" target="_blank" class="contact-icon">
                            <i class="bi bi-instagram" aria-hidden="true"></i></a>
                    </li>
                </ul>
                <hr>

                <div class="copyright">&copy; ALL OF THE RIGHTS RESERVED</div>

            </div>

        </div>

    </section>
</div>