<div class="container-fluid footer text-white  ">
    <div class="container ">
        <div class="row p-md-4 ">
            <div class="col-md-3 ">
                <img src="/assets/images/logo.png" class="col-md-6 my-md-5 bg-white">
                <p class="my-md-4 lh-lg text-secondary ">Receive updates and latest news <br> direct from Simply enter</p>
                <h3>+564 <span class="text-primary ">7885 3222</span></h3>
                <p class="text-secondary ">Nermeen@gmail.com</p>
            </div>
            <div class="col-3 mt-md-5 ">
                <h3>Our support</h3>
                <ul class="list-unstyled text-secondary mt-md-5 ">
                    <li class="my-md-3 "><a href="# ">Advanced</a></li>
                    <li class="my-md-3 "><a href="# ">Managment</a></li>
                    <li class="my-md-3 "><a href="# ">Corporate</a></li>
                    <li class="my-md-3 "><a href="# ">Customer</a></li>
                    <li class="my-md-3 "><a href="# ">Information</a></li>
                </ul>
            </div>
            <div class="col-3 mt-md-5 ">
                <h3>Quick Links</h3>
                <ul class="list-unstyled text-secondary mt-md-5 ">
                    <li class="my-md-3 "><a href="# ">New Law</a></li>
                    <li class="my-md-3 "><a routerLink="/aboutus">About</a></li>
                    <li class="my-md-3 "><a href="# ">Privacy Policy</a></li>
                    <li class="my-md-3 "><a href="# ">Licences</a></li>
                </ul>
            </div>
            <div class="col-3 mt-md-5 ">
                <h3 class="text-uppercase mb-md-5 ">newslatter</h3>
                <p class="text-secondary my-md-4 ">Subscribe now to get daily updates </p>
                <div class="input-group ">
                    <input type="text " class="form-control bg-dark mx-2 " placeholder="Email Address " aria-label="Recipient 's username" aria-describedby="button-addon2">
                    <button class="btn text-primary" id="button-addon2"> <a class="btn text-primary" href="mailto:name1@mail.com,name2@mail.com">Send</a></button>

                </div>
            </div>

            <hr class="mt-md-5">

            <p class="col-6 text-secondary"> Copyrights &copy;2021 All rights reserved | This template is made with <br><i class="bi bi-heart-fill"></i> by Nermeen Shehab <i class="bi bi-heart-fill"></i></p>

            <div class="col-6 d-flex justify-content-end">
                <div id="back-top ">
                    <a title="Go to Top " href="#"> <i class="bi bi-arrow-90deg-up"></i></a>
                </div>
                <i class="bi bi-twitter   mx-md-4"></i>
                <i class="bi bi-facebook  mx-md-4"></i>
                <i class="bi bi-globe  mx-md-4 "></i>
                <i class="bi bi-instagram  mx-md-4 "></i>

            </div>

        </div>
    </div>
</div>