<div class="about-section">
    <h1>About Us Page</h1>
    <p>Some text about who we are and what we do.</p>
    <p>Resize the browser window to see that this page is responsive by the way.</p>
</div>


<div class="row">
    <div class="column">
        <div class="card">
            <img src="/assets/images/5.jpg" alt="Nermeen" style="width:100%">
            <div class="container">
                <h2>Nermeen Shehab</h2>
                <p class="title">Web Developer</p>
                <p>Some text that describes me lorem ipsum ipsum lorem.</p>
                <p>Nermeen@example.com</p>
                <p><button class="button" [routerLink]="['/contactus']">Contact</button></p>
            </div>
        </div>
    </div>
</div>